body {
  background-image:url("https://media.tenor.com/90WJdm-D9O8AAAAM/creepy-cat-smile.gif");
  text-align: center;
  color: white;
}

h1 {
  color:black;
  background-color:white
}

ol {
  color:black;
  background-color:white
}


#myCanvas {
  background-image: url("https://preview.redd.it/does-anyone-other-than-me-know-where-this-cat-is-from-lol-v0-img24gu05lfb1.jpg?width=1080&crop=smart&auto=webp&s=c3f0a1639fc3a21e04864423c108302d5a36ff8b");
  background-size: 400px;
  border-radius: 30px;
  border: 1px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

